<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="bukshelf-odonslank-fe">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <meta name="theme-color" content="#f32121" /> -->
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png" type="image/png" sizes="64x64">
  <title>MyCKO</title>
</head>
<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-4"><a href="#" data-target="slide-out" class="sidenav-trigger"><i
              class="material-icons hide-on-up">menu</i></a>
          <a href="/" class="brand-logo">MyCKO</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#home">Home</a></li>
            <li><a href="#inasabah">Cari Nasabah</a></li>
            <!-- <li><a href="#favorites">Favorites</a></li> -->
            <li><a href="#about">About</a></li>
            <li><a href="#kolek">Kolektibilitas</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <!-- <div class="background">
            <img src="favicon.png" width="100%">
          </div> -->
          <a href="#user"><img class="circle" src="favicon.png"></a>
          <a href="#name"><span class="black-text name">Dhona Dwi</span></a>
          <a href="#email"><span class="black-text email">dhonadwi14@gmail.com</span></a>
        </div>
      </li>
      <li><a href="#home"><i class="material-icons">home</i>HOME</a></li>
      <li><a href="#inasabah"><i class="material-icons">home</i>CARI NASABAH</a></li>
      <li><a href="#kolek"><i class="material-icons">home</i>KOLEKTIBILITAS</a></li>
      <!-- <li><a href="#favorites"><i class="material-icons">favorite_border</i>FAVORITES</a></li> -->
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">dhona dwi</a></li>
      <li><a class="waves-effect" href="#about"><i class="material-icons">assignment_ind</i>About Me</a></li>
    </ul>
  </header>
  <main>
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="./images/parallax1.png"></div>
    </div> -->
    <div id="mainContent" class="container"></div>
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="./images/parallax1.png"></div>
    </div> -->
  </main>
  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright dhona.dwi
      </div>
    </div>
  </footer>
</body>
</html>